<nb-layout>
  <nb-layout-header>
    <h1 class="activity-header">Recent Activities</h1>
  </nb-layout-header>

  <nb-layout-column>
    @if (loading()) {
      <nb-spinner size="giant" status="warning" message="Loading activities..."></nb-spinner>
    } @else {
      <table [nbTreeGrid]="dataSource" equalColumnsWidth class="activity-table">

        <tr nbTreeGridHeaderRow *nbTreeGridHeaderRowDef="columns"></tr>
        <tr nbTreeGridRow *nbTreeGridRowDef="let row; columns: columns" (click)="viewActivity(row)"
            class="activity-row">
        </tr>

        <ng-container *ngFor="let c of columns" [nbTreeGridColumnDef]="c">
          <th nbTreeGridHeaderCell *nbTreeGridHeaderCellDef>
          <span class="column-header">
            @switch (c) {
              @case ('name') {
                Name
              }
              @case ('type') {
                Type
              }
              @case ('start_date') {
                Date
              }
            }
          </span>
          </th>
          <td nbTreeGridCell *nbTreeGridCellDef="let row">
            @switch (c) {
              @case ('start_date') {
                {{ row?.data[c] | date: 'short' }}
              }
              @default {
                {{ row?.data[c] }}
              }
            }
          </td>
        </ng-container>
      </table>
    }
  </nb-layout-column>
</nb-layout>
